@using ContactPro.Services.Interfaces;
@model ContactPro.Models.Category
@inject IImageService _ImageService
@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center emphasisTitle p-3">Delete</h1>
<div class="row justify-content-center floatingContainer">
    <div class="col-md-8">
        <h3>Are you sure?</h3>
        <p class="text-lead text-muted">This category will be permanently deleted.</p>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-title">
                    <h3>@Model.Name</h3>
                </div>
                <div class="text-muted fs-6">
                    There @(Model.Contacts.Count == 1 ? "is 1 contact" : $"are {Model.Contacts.Count} contacts")
                    in this category
                </div>
                <div class="d-flex">
                    @foreach (Contact contact in Model.Contacts)
                    {
                        <div class="square-img-container m-2" style="height: 180px; width: 180px;"
                             data-bs-toggle="tooltip" data-bs-title="@contact.FullName" data-bs-placement="top">
                            <img class="square-img" src="@_ImageService.ConvertByteArrayToFile(contact.ImageData!, contact.ImageType!)">
                        </div>
                    }
                </div>
            </div>
        </div>
        <form asp-action="Delete" class="d-flex justify-content-between pt-3">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-outline-secondary rounded-pill btnLink">Cancel</a>
            <input type="submit" value="Delete" class="btn btn-danger rounded-pill btnLink" />
        </form>
    </div>
</div>
