@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="emphasisTitle text-center p-4">@ViewData["Title"]</h1>

<div class="row floatingContainer p-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <input type="submit" class="btn btn-lg btn-primary" value="Reset Password" />
            </div>
        </div>

    </form>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
